.form {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #0099f6;
  max-height: 90vh;
  overflow: scroll;

  label {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #df0000
  }

  input {
    max-width: 500px;
  }
  button {
    margin-top: 30px;
    width: 100px;
    height: 30px;
    color: #df0000;
    background-color: #f2c300;
  }
}
